
<!DOCTYPE html>
<html>
  <head>
    <title>Payments</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
 <br>
 

 <% sum = 0 %>
 <% @payments.each do |payment| %>
    <% if (payment.transaction_id == @expense.id) %>
    <div class="flex-column">
    <li>
        <% sum += payment.amount %>
        <%= payment.name %>
        </li>
        </div>  
    <% end %>
  <% end %>
  Total $<%= sum %>
  </body>



  <div class="flex-column-centered">
     
  <%= link_to 'Add New Payment', new_payment_path, class: 'add-items-button' %>
  </div>
</html>
