
<!DOCTYPE html>
<html>
  <head>
    <title>Transactions app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="flex-column-centered">
    <div class="transaction-list">
    <% @transactions.each do |transaction| %>
      <div class="transaction-row flex-centered">
      <div class=" flex-spaced">
        <div class="  flex-spaced">
          <div class="transaction-name"><%= transaction.id %></div>
          <div class="transaction-amount"><%= transaction.icon %></div>
        </div>
        <div class="transaction-created-at"><%= transaction.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
      </div>
      </div>
    <% end %>
  </div>
  <%= link_to 'Add New Transaction', new_transaction_path, class: 'add-items-button' %>
  </body>
  </div>

</html>
