
<!DOCTYPE html>
<html>
  <head>
    <title>Expense Transactions app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body >
  <%= form_with(model: @expense, url: expenses_path) do |form| %>
    <div class="flex-centered bg-primary ctr-primary  flex-column-centered">
    <div class=" flex-column rad-10 w-30 ">
      <div class="form-field flex-column-centered mt-m10">
    
    <div class="field flex-start">
    
    <%= form.text_field :name, class: "add-food-filds", placeholder: "Enter expense name" %>
    </div>
     
    Choose an Icon
    
      <div class="flex-spaced">
   
      <div class="fit ">
        <p><%= image_tag("charity.png", alt: "Back") %></p>
        Charity
      </div>
      <div class="fit ">
        <p>    <%= image_tag("movie.png", alt: "Back") %>
        </p>
        Entertainment
      </div>
      <div class="fit ">
        <p>    <%= image_tag("grocery.png", alt: "Back") %>
        </p>
        Grocery
      </div>
      <div class="fit ">
        <p>    <%= image_tag("muscle.png", alt: "Back") %>
        </p>
        Fitness
      </div>
      <div class="fit ">
        <p>    <%= image_tag("recreation.png", alt: "Back") %>
        </p>
        recreational
      </div>
      <div class="fit ">
        <p>    <%= image_tag("travel.png", alt: "Back") %>
        </p>
        Travel
      </div>
    </div>
   <div class="box">
    <button type="submit" class="transparent inner-border no-decoration new-payment-btn pointer">Add Expense</button>
  </div>
</div>
 
  </div>

  </div>
  </div>
  </div>

  <% end %>
  </body>

</html>
